<config>
    <email>elovel@boulderassociates.com</email>
    <hashtags>
        <hashtag>#tay</hashtag>
        <hashtag>#tay</hashtag>
        <hashtag>#Script</hashtag>
        <hashtag>#Support</hashtag>
        <hashtag>#ACC</hashtag>
        <hashtag>#Crash</hashtag>
        <hashtag>#tay</hashtag>
        <hashtag>#tay</hashtag>
